<div class="pattern-element">
  <h2 class="pattern-element-header">Magellan</h2>

  <div data-sticky-container>
    <div class="sticky" id="example" data-sticky data-margin-top="0" style="width:100%;" data-margin-bottom="0" data-top-anchor="topAnchorExample" data-btm-anchor="bottomOfContentId:bottom">
      <nav data-magellan>
        <ul class="horizontal menu expanded">
        <li><a href="#first">First Arrival</a></li>
        <li><a href="#second">Second Arrival</a></li>
        <li><a href="#third">Third Arrival</a></li>
        </ul>
      </nav>
    </div>
  </div>

</div>
