<div class="pattern-element">
  <h1 class="pattern-element-header">Buttons</h1>
  <a class="button button-primary">
    Button primary
  </a>
  <a class="button button-primary disabled">
    Button disabled
  </a>
  <pre class="code-snippet">
    <code>
&lt;a class="button button-primary">
Button primary
&lt;/a>
&lt;a class="button button-primary disabled">
Button disabled
&lt;/a>
    </code>
  </pre>
</div>

<div class="pattern-element">
  <h1 class="pattern-element-header">Button groups</h1>
  <ul class="button-group">
    <li>
      <a class="button button-primary">
        Button primary
      </a>
    </li>
    <li>
      <a class="button button-primary">
        Button primary
      </a>
    </li>
    <li>
      <a class="button button-primary">
        Button primary
      </a>
    </li>
  </ul>
  <pre class="code-snippet">
    <code>
&lt;ul class="button-group">
  &lt;li>
    &lt;a class="button button-primary">
      Button primary
    &lt;/a>
  &lt;/li>
  &lt;li>
    &lt;a class="button button-primary">
      Button primary
    &lt;/a>
  &lt;/li>
  &lt;li>
    &lt;a class="button button-primary">
      Button primary
    &lt;/a>
  &lt;/li>
&lt;/ul>
    </code>
  </pre>
</div>
