<div class="pattern-element">
  <h2 class="pattern-element-header">Buttons</h2>
  <button type="button" class="button">
    Button primary
  </button>
  <button type="button" class="button disabled">
    Button disabled
  </button>
</div>

<div class="pattern-element">
  <h2 class="pattern-element-header">Dropdown button</h2>
  <button type="button" class="button dropdown" data-toggle="example-dropdown">
    Button dropdown
  </button>
  <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
    Example dropdown
  </div>
</div>
