<div class="pattern-element">
  <h2 class="pattern-element-header">Text input</h2>
  <form>
    <label>Input label
      <input type="text" name="name" placeholder="placeholder">
    </label>
  </form>
</div>

<div class="pattern-element">
  <h2 class="pattern-element-header">Text area</h2>
  <form>
    <label>Textarea Label
      <textarea placeholder="small-12.columns"></textarea>
    </label>
  </form>
</div>

<div class="pattern-element">
  <h2 class="pattern-element-header">Radio</h2>
  <form>
    <label>Choose Your Favorite</label>
    <input type="radio" name="pokemon" value="Red" id="pokemonRed">
    <label for="pokemonRed">Red</label>
    <input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
    <label for="pokemonBlue">Blue</label>
  </form>
</div>

<div class="pattern-element">
  <h2 class="pattern-element-header">Checkbox</h2>
  <form>
    <label>Check these out</label>
    <input id="checkbox1" type="checkbox">
    <label for="checkbox1">Checkbox 1</label>
    <input id="checkbox2" type="checkbox">
    <label for="checkbox2">Checkbox 2</label>
  </form>
</div>

<div class="pattern-element">
  <h2 class="pattern-element-header">Select menu</h2>
  <form>
    <label>Select
        <select>
          <option value="husker">Husker</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </label>
  </form>
</div>
