<div class="pattern-element">
  <h2 class="pattern-element-header">Results table</h2>
  <table class="results-table">
    <thead>
      <th>
        <input type="checkbox" name="name" value="">
      </th>
      <th>
        Column 1
      </th>
      <th>
        Column 2
      </th>
      <th>
        Column 3
      </th>
      <th>
        Column 4
      </th>
      <th>
        Column 5
      </th>
      <th>
        Column 6
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="checkbox" name="name" value="">
        </td>
        <td>
          Row 1
        </td>
        <td>
          Row 1
        </td>
        <td>
          Row 1
        </td>
        <td>
          Row 1
        </td>
        <td>
          Row 1
        </td>
        <td>
          Row 1
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="name" value="">
        </td>
        <td>
          Row 2
        </td>
        <td>
          Row 2
        </td>
        <td>
          Row 2
        </td>
        <td>
          Row 2
        </td>
        <td>
          Row 2
        </td>
        <td>
          Row 2
        </td>
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>
