<div class="pattern-element">
  <h1 class="pattern-element-header">Headings</h1>
  <h1>h1. header</h1>
  <h2>h2. header</h2>
  <h3>h3. header</h3>
  <h4>h4. header</h4>
  <h5>h5. header</h5>
</div>

<div class="pattern-element">
  <h1 class="pattern-element-header">Paragraphs</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

<div class="pattern-element">
  <h1 class="pattern-element-header">Sequence</h1>
  <p>
    Used to display a protein or nucleotide sequence.
  </p>
  <pre class="sequence-display">
10         20         30         40         50
MANPKEKTPV CLVNELARFH SIQPQYKLLN ESGPAHSKMF SVQLSLGEQT
60         70         80         90        100
WESEGSSIKK AQQAVANKAL TESTLPKPVQ KPPKSNVNNN PGSITPTVEL
110        120        130        140        150
NGLAMKRGEP AIYRPLDPKP FPNYRANYNF RGMYNQRYHC PMPKIFYVQL
160        170        180        190        200
TVGNNEFFGE GKTRQAARHN AAMKALQALQ NEPIPEKSPQ NGESGKEMDD
210        220        230        240        250
  </pre>
  <pre class="code-snippet">
    <code data-lang="html">
&lt;pre class="sequence-display"&gt;
  sequence
&lt;/pre&gt;
    </code>
  </pre>
</div>

<div class="pattern-element">
  <h1 class="pattern-element-header">Small text</h1>
  <p class="small-text">
    This is small text
  </p>
  <pre class="code-snippet">
    <code data-lang="html">
&lt;pre class="small-text"&gt;
  This is small text
&lt;/pre&gt;
    </code>
  </pre>
</div>
