@import "../archibald/archibald-style";

.pattern-element {
	.pattern-element-header {
		border-bottom: 1px solid $colour-light-grey;
		margin-top: 0;
	}
}

.code-snippet {
	background-color: $colour-black;
	font-size: $small-font-size;
	color:$colour-seashell-grey;
	border-radius: 1em;
	padding: .5em 1em;
}

.box-colour {
	vertical-align: top;
	display: inline-block;;
	width:9em;
	height:9em;
	margin-bottom: 4em;
	font-size: $small-font-size;
	&:before {
		content: attr(data-name);
		margin-top: 10em;
		display: block;
		text-align: center;
	}
	// PRIMARY
	&-dark-blue {
		background: $colour-dark-blue;
	}
	&-uniprot-blue {
		background: $colour-uniprot-blue;
	}
	&-medium-blue {
		background: $colour-medium-blue;
	}
	&-light-blue {
		background: $colour-light-blue;
	}
	// GREY
	&-black {
		background: $colour-black;
	}
	&-dark-grey {
		background: $colour-dark-grey;
	}
	&-cool-grey {
		background: $colour-cool-grey;
	}
	&-medium-grey {
		background: $colour-medium-grey;
	}
	&-light-grey {
		background: $colour-light-grey;
	}
	&-seashell-grey {
		background: $colour-seashell-grey;
	}
	// NAMESPACE
	&-uniref {
		background: $colour-uniref;
	}
	&-uniparc {
		background: $colour-uniparc;
	}
	&-proteomes {
		background: $colour-proteomes;
	}
	&-supporting-data {
		background: $colour-supporting-data;
	}
	&-help {
		background: $colour-help;
	}
	&-annotation-systems {
		background: $colour-annotation-systems;
	}
}
