@import "../uniprot-style/uniprot-style";

$small-text: 16px;

.pattern-element {
	.pattern-element-header {
		border-bottom: 1px solid $colour-light-grey;
		margin-top: 0;
	}
}

.archibald-nav {
	list-style: none;
	padding-left: 0;
	font-size: $small-text;
	h4 {
		margin: .2em;
	}
	ul {
		list-style: none;
		padding-left: .5em;
		margin-bottom: .5em;
		li a {
			display: block;
		}
	}
}

.code-snippet {
	background-color: $colour-black;
	font-size: $small-text;
	color:$colour-seashell-grey;
	border-radius: 1em;
	padding: .5em 1em;
}

.left-col {
	vertical-align: top;
	display: inline-block;
	width: 20%;
}
.right-col {
	vertical-align: top;
	display: inline-block;
	width: 70%;
}

.box-colour {
	vertical-align: top;
	display: inline-block;;
	width:100px;
	height:100px;
	margin-bottom: 30px;
	font-size: $font-size-small;
	&:before {
		content: attr(data-name);
		margin-top: 110px;
		display: block;
		text-align: center;
	}
	// PRIMARY
	&-dark-blue {
		background: $colour-dark-blue;
	}
	&-uniprot-blue {
		background: $colour-uniprot-blue;
	}
	&-medium-blue {
		background: $colour-medium-blue;
	}
	&-light-blue {
		background: $colour-light-blue;
	}
	// GREY
	&-black {
		background: $colour-black;
	}
	&-dark-grey {
		background: $colour-dark-grey;
	}
	&-cool-grey {
		background: $colour-cool-grey;
	}
	&-medium-grey {
		background: $colour-medium-grey;
	}
	&-light-grey {
		background: $colour-light-grey;
	}
	&-seashell-grey {
		background: $colour-seashell-grey;
	}
	// NAMESPACE
	&-uniref {
		background: $colour-uniref;
	}
	&-uniparc {
		background: $colour-uniparc;
	}
	&-proteomes {
		background: $colour-proteomes;
	}
	&-supporting-data {
		background: $colour-supporting-data;
	}
	&-help {
		background: $colour-help;
	}
	&-annotation-systems {
		background: $colour-annotation-systems;
	}
}
