<div class="pattern-element">
  <h2 class="pattern-element-header">Intro</h2>

  <div class="intro">
    <h2>Title <small>subtext</small><a class="fa fa-angle-down icon-small intro-trigger"></a></h2>

    <div class="intro-content" style="display:none">
      <p>
        UniProtKB consists of two sections:
      </p>
      <p>
        <strong>Reviewed (Swiss-Prot)</strong> - Manually annotated Records with information extracted from literature and curator-evaluated computational analysis.
      </p>
      <p><strong>Unreviewed (TrEMBL)</strong> - Computationally analyzed Records that await full manual annotation.</p>
      <p>The UniProt Knowledgebase
      (UniProtKB) is the central hub for the collection of functional information on proteins, with accurate, consistent and rich annotation. In addition to capturing the core data mandatory for each UniProtKB entry (mainly, the amino acid sequence, protein
      name or description, taxonomic data and citation information), as much annotation information as possible is added.</p>
      <div class="intro-links">
        <a href="#">Help</a> <a href="#">UniProtKB help video</a> <a>Other tutorials and videos</a> <a>Downloads</a>
      </div>
    </div>

  </div>

</div>
