<div class="pattern-element">
  <h2 class="pattern-element-header">Tiles</h2>
  <a class="tile">
    <span class="tile-header">UniProt</span>
    <span class="tile-content">This is some text</span>
  </a>
  <a class="tile tile-uniref">
    <span class="tile-header">UniRef</span>
    <span class="tile-content">This is some text</span>
  </a>
  <a class="tile tile-uniparc">
    <span class="tile-header">UniParc</span>
    <span class="tile-content">This is some text</span>
  </a>
  <a class="tile tile-proteomes">
    <span class="tile-header">Proteomes</span>
    <span class="tile-content">This is some text</span>
  </a>
</div>
