.button {
  display: inline-block;
  padding:0.85em 1em;
  color: $colour-white !important;
  text-align: center;
  text-decoration: none;
  transition: background-color 300ms ease-out;
  cursor: pointer;
  font-size: .9rem;
  &-primary {
    background-color: $colour-uniprot-blue;
  }
  &:hover {
    color: $colour-white;
    background-color: $colour-dark-blue;
  }
  &.disabled {
    cursor: default;
    opacity: .4;
  }
}
