$input-font-size: .9rem;
$form-spacing: .9rem;
$input-border: 1px solid $colour-medium-grey !default;
$input-border-focus: 1px solid $colour-dark-grey !default;
$input-background-focus: $colour-white !default;
$input-shadow-focus: 0 0 5px $colour-medium-grey !default;
$input-shadow: inset 0 1px 2px rgba($colour-black, 0.1) !default;
$input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out !default;


input[type=text], textarea {
  $height: ($input-font-size + ($form-spacing * 1.5));

  display: block;
  box-sizing: border-box;
  width: 100%;
  height: $height;
  padding: $form-spacing / 2;
  border: $input-border;
  margin: 0 0 $form-spacing;

  font-size: $input-font-size;
  color: $colour-black;
  background-color: $colour-seashell-grey;
  box-shadow: $input-shadow;

  transition: $input-transition;

  // // Focus state
  &:focus {
    border: $input-border-focus;
    background: $input-background-focus;
    outline: none;
    box-shadow: $input-shadow-focus;
    transition: $input-transition;
  }
}
