.logo {
  display: block;
  text-indent: -9999px;
  width: 81px;
  height: 38px;
  background: url(../images/uniprot-logo-white.svg);
  background-size: 81px 38px;
}

.icon-small {
  margin: 0.2em;
  font-size: .8em;
}

.icon-medium {
  margin: 0.2em;
  font-size: 1.4em;
}

.icon-large {
  margin: 0.2em;
  font-size: 3em;
}

.icon-jumbo {
  margin: 0.2em;
  font-size: 6em;
}
