ul {
  list-style: none;
  margin-left: 0;
}

.attribute-list {
  .attribute-list-row {
    padding: .6em;
    border-top: 1px solid $colour-seashell-grey;
    .attribute-list-title {
      vertical-align: top;
      font-weight: bold;
    }
    .attribute-list-content {
    }
  }
}
