$font-family : 'lato', 'Helvetica neue', 'Helvetica', Arial, sans-serif;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
$body-font-size : 18px;

.sequence-display {
  font-family: $font-family-monospace;
}
