$hover-lightness-value: -15%;

.top-bar {
  a, a:link {
    color: $colour-seashell-grey !important;
    transition: color 0.25s ease-out;
  }
  a:hover {
    color: scale-color($colour-seashell-grey, $lightness: $hover-lightness-value) !important;
  }
}
