<ul>
  <li>
    <h4>Atoms</h4>
    <ul>
      <li class="active"><a href="#/typography">Typography</a></li>
      <li><a href="#/colours">Colours</a></li>
      <li><a href="#/icons">Icons</a></li>
      <li><a href="#/buttons">Buttons</a></li>
      <li><a href="#/forms">Forms</a></li>
      <li><a href="#/tables">Tables</a></li>
      <li><a href="#/lists">Lists</a></li>
    </ul>
  </li>
  <li>
    <h4>Molecules</h4>
    <ul>
      <li><a href="#/tiles">Tile</a></li>
      <li><a href="#/pagination">Pagination</a></li>
      <li><a href="#/filter">Filter</a></li>
      <li><a href="#/magellan">Magellan</a></li>
      <li><a href="#/mega">Mega menu</a></li>
      <li><a href="#/dropdown">Dropdown</a></li>
      <li><a href="#/evidence">Evidence tags</a></li>
      <li><a href="#/tabs">Tabs</a></li>
      <li><a href="#/toggle">Toggle</a></li>
      <li><a href="#/citation">Citation</a></li>
      <li><a href="#/intro">Intro</a></li>
    </ul>
  </li>
  <!-- <li>
    <h4>Organisms</h4>
    <ul>
      <li><a href="#/advanced-search">Advanced search</a></li>
      <li><a href="#/main-nav">Main nav</a></li>
      <li><a href="#/footer">Footer</a></li>
    </ul>
  </li> -->
</ul>
